<div class="navbar">
<div class="mode_button"><i onclick="myDark(this)" class="fa fa-moon-o"></i></div>
<div class="navbar_txt"><a href="{{ site.baseurl }}{% link index.html %}">Aniket Pramanik</a></div>
<div class="navdrop">
  <div class="nav">
  <div></div>
  <div></div>
  <div></div>
  </div>
  <!--<div class="navdrop-content">
    <a href="index.html">About</a>
    <a href="experience.html">Experience</a>
    <a href="pub_ns.html">Publications</a>
    <a href="blog_list.html">Blog</a>
  </div>-->
  <div class="navdrop-content">
    <a href="{{ site.baseurl }}{% link index.html %}">About</a>
    <a href="{{ site.baseurl }}{% link experience.html %}">Experience</a>
    <a href="{{ site.baseurl }}{% link pub_index.html %}">Publications</a>
    <a href="{{ site.baseurl }}{% link blog_list.html %}">Blog</a>
  </div>
</div>
</div>

<script>
var element = document.body;
if(localStorage.getItem("mode") == "dark") {
       element.className = "dark-mode";
       element.getElementsByTagName("i")[0].className = "fa fa-sun-o";
  }
else{
element.className = "";
element.getElementsByTagName("i")[0].className = "fa fa-moon-o";
}
</script>
