<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/styling/scripts.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<link rel="stylesheet" type="text/css" href="/styling/styles.css">
{% include mathjax.html %}
{% include head.html %}
<!--<meta charset="utf-8">
<title>{{ page.title }}</title>-->
</head>
<body>

{% include nav.html %}



{{ content }}




</body>
</html>
